body{
    margin: 0;
    padding: 0;
    background-color: var(--active);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container{
    background: var(--main);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: .5em;
    margin: auto;
    padding-top: .5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topBox{
    height: 3em;
    width: 95%;
    background-color: var(--active);
    margin: auto;
    margin-bottom: 1em;
    border-radius: .5em;
}
.entry{
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    padding-inline-start: 1em;
}

#passEntry{
    display: flex;
    align-items: center;
}

#head{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: var(--colorText);
}

.entry input{
    width: 10em;
    height: 50%;
    background: transparent;
    border: none;
    color: var(--colorText);
}
.entry input:focus{
    outline: none;
}
::placeholder{
    color: var(--colorText);
    font-size: 1.2em;
}
.entry svg{
    height: 1.5em;
    width: 1.5em;
}



/* forgot */
#forgot{
    text-decoration: none;
    color:  var(--active);
    position: relative;
    top: -.8em;
    left: .5em;
}


/* botBtn */
.botBtn{
    margin: auto;
    text-align: center;
    width: 100%;
    bottom: 0;
    line-height: 0;
    color: var(--active);
}
.botBtn button{
    width: 95%;
    border-radius: .5em;
    background-color: var(--active);
    color: var(--colorText);
    border: none;
    height: 3em;
}

form{
    padding-top: 1em;
}

@media screen and (min-width: 769px) {
    .container {
        width: 20%;
        height: 50%;
        margin-top: 5%;
    }
}
@media screen and (max-width: 768px) {
    .container {
        width: 45%;
        height: 50%;
    }
}

@media screen and (max-width: 425px) {
    .container {
        width: 90%;
        height: 50%;
    }
}

@media screen and (max-width: 300px) {
    .container {
        width: 90%;
        height: 60%;
        margin-top: 40%;

    }
}
